<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.performance.cognitive.datagathering" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OverviewActivity"
            android:label="@string/title_activity_overview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BubbleActivity"
            android:label="@string/title_activity_bubble"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrailMakingActivity"
            android:label="@string/title_activity_trail_making"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VoiceToTextActivity"
            android:label="@string/title_activity_voice_to_text"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConnectDotsOneShotActivity"
            android:label="@string/title_activity_connect_dots_one_shot"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DigitSpan"
            android:label="@string/title_activity_digit_span"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DigitOrder"
            android:label="@string/title_activity_digit_order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Words"
            android:label="@string/title_activity_words"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TapActivity"
            android:label="@string/title_activity_tap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ColorTapActivity"
            android:label="@string/title_activity_color_tap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectiveActivity"
            android:label="@string/title_activity_selective"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlotList"
            android:label="@string/title_activity_plot_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GlobalSettingsActivity"
            android:label="@string/title_activity_global_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name=".FetchAddressIntentService"
            android:label="@string/title_activity_fetch_address_intent_service" >
        </activity>
        <activity
            android:name=".Location"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
    </application>

</manifest>
